<header class='site-title'>
  <h1>BLATTLE OF THE BLANDS</h1>
  <nav>
    <a class='<%= locals.active === 'battles' ? 'active' : '' %>' href='/'>Battles</a>
    <a class='<%= locals.active === 'bands' ? 'active' : '' %>' href='/bands'>Bands</a>
    <a class='<%= locals.active === 'chart' ? 'active' : '' %>' href='/chart'>Buzz</a>
  </nav>
</header>
