<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta name='theme-color' content='#000000'>
  <title>Blattle of the Blands</title>
  <link rel='stylesheet' href='/style.css'>
  <% (locals.scripts || []).forEach(script => { %>
  <script src='<%= script %>'></script>
  <% }) %>
</head>
