@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;450;600;750;900&display=swap');

html.single {
  height: 100%;
}

html.single body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

html.single main {
  overflow-x: hidden;
}

body {
  margin: 0;
  background: black;
  color: white;
  font-family: Jost, sans-serif;
  font-weight: 300;
  overflow-x: scroll;
}

header, main {
  padding: 0 20px;
}

header form {
  display: inline-block;
}

header.site-title {
  margin-bottom: 1rem;
  text-align: center;
}

header.site-title h1 {
  margin: .75rem 0;
  font-size: 2.5rem;
  letter-spacing: .5rem;
}

header.site-title a {
  display: inline-block;
  margin: 0 1rem;
  font-size: 1.25rem;
  font-weight: 450;
}

header.site-title a.active {
  color: yellow;
}

header.admin {
  text-align: center;
}

header.band-header {
  margin-bottom: 20px;
  overflow: auto;
}

h1, h2, h3, h4, h5 {
  margin: 1em 0 .5em;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 750;
}

h3 {
  font-weight: 600;
}

h4 {
  font-weight: 450;
}

h5 {
  font-weight: 300;
}

.pad {
  margin-bottom: 1.5em;
}

.week {
  padding: 0 20px;
}

.week:not(:last-child) {
  margin-right: 10px;
  border-right: 1px dotted #666;
}

p {
  margin: 0;
  white-space: nowrap;
}

p.spaced {
  margin: 1rem 0;
}

span.tag {
  display: inline-block;
  margin-right: .5rem;
  padding: 0 .5rem;
  border-radius: 3px;
  background-color: #444;
}

b {
  font-weight: 600;
}

a {
  color: inherit;
}

a.band {
  font-weight: 450;
  text-decoration: none;
}

a.band-block {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 10em;
  height: 5em;
  margin: 0 15px 15px 0;
  padding: 10px;
  font-size: 36px;
  font-weight: 750;
  line-height: 1.2em;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
}

input, button {
  font-family: inherit;
  font-weight: inherit;
}

.flex {
  display: flex;
  overflow-x: auto;
}

svg {
  max-height: 100%;
}
